{% extends "base.html" %}

{% block title %} Account List {% endblock title %}

{% block content %}

<main>
    <h1>Account List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for number in account.all %}
            <tr>
                <td>{{ number.name }}</td>
                <td>{{ number.number }}</td>
                <td>{{ number.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock content %}
