{% extends 'base.html' %}

{% block title %} Category List {% endblock title %}

{% block content %}

<main>
    <h1>Category List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for number in category.all %}
            <tr>
                <td>{{ number.name }}</td>
                <td>{{ number.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
